body {
    background-image: url(../images/antoine-beauvillain-759-unsplash.jpg);
    background-size: cover;
    line-height: 0;
  }

  #heading {
    font-family: Times;
    font-weight: bold;
  }
  
  #subHeading {
    font-family: Times;
    font-style: italic;
  }
  
  .table-title {
    font-weight: bold;
  }
  
  th {
    font-weight: bold;
  }

  h3, label {
    color: white;
  }

  .btn-default:hover {
    background-color: green;
  }