/* body {
    background-image: url(../images/adam-bixby-562004-unsplash.jpg);
    background-size: auto;
  } */
  
  #heading {
    font-family: Times;
    font-weight: bold;
  }
  
  #subHeading {
    font-family: Times;
    font-style: italic;
  }
  
  .panel-title {
    font-weight: bold;
  }
  
  th {
    font-weight: bold;
  }